body{
    background: rgb(197, 197, 197);
}

#tarjeta{
    border: 1px solid rgb(145, 145, 145);
    border-radius: 5%;
    height: 500px;
    margin: 0 30%;
}

#titulo{
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Anton', sans-serif;
}

#parrafo{
    margin: 16px;
}